<center><H1>Sets in Coq, Coq in Sets</H1></center>
<HR>
<A HREF="sets-in-coq.tgz">Download proofs (.tgz)</A>
<HR>

<UL>

<H3>Intuitionistic Zermelo-Fraenkel</H3>

<LI><A HREF="ZFdef.html">Signatures of IZF</A>
<LI><A HREF="ZF.html">Introduction/Elimination Rules of IZF Axioms</A>
<LI><A HREF="ZFrepl.html">Relationnal Replacement Axiom</A>
<LI><A HREF="ZFpairs.html">Ordered pairs</A>
<LI><A HREF="ZFrelations.html">Relations and Functions</A>
<LI><A HREF="ZFsum.html">Disjoint Sum</A>
<LI><A HREF="ZFnats.html">Natural Numbers</A>
<LI><A HREF="ZFord.html">Ordinal Numbers</A>
<LI><A HREF="ZFordcl.html">Classical Ordinal Numbers</A>
<LI><A HREF="ZFfix.html">Fixpoint Theorem</A>
<LI><A HREF="ZFgrothendieck.html">Grothendieck Universes</A>
<LI><A HREF="ZFlambda.html">Lambda terms</A>

<LI><A HREF="ZFcard.html">Cardinal Numbers</A>

<LI><A HREF="ZFcoc.html">Semantics of CC in ZF</A>
<LI><A HREF="ZFecc.html">Semantics of CC&omega; in Tarski-Grothendieck Set Theory</A>
<LI><A HREF="ZFind_nat.html">Inductive Type Nat</A>
<LI><A HREF="ZFind_ord.html">Inductive Type Ord</A>

<LI><A HREF="Choice.html">Type Theoretical Axiom of Choice</A>
<LI><A HREF="Ens.html">Model of IZF in Coq</A>
<LI><A HREF="EnsUniv.html">Building a Grothendieck Universe in Coq</A>

<LI><A HREF="ZFskol.html">Skolemization of IZF</A>

<HR>
<H3>Hereditarily Finite Set Theory</H3>

<LI><A HREF="HF.html">Hereditarily Finite Sets</A>
<LI><A HREF="HFrelation.html">HF Relations</A>
<LI><A HREF="HFcoc.html">Semantics of CC in HF</A>

<HR>
<H3>Calculus of Constructions</H3>
<LI><A HREF="Term.html">Terms</A>
<LI><A HREF="Conv.html">Conversion</A>
<LI><A HREF="Env.html">Environments</A>
<LI><A HREF="Types.html">Typing Rules</A>
<LI><A HREF="TypeJudge.html">Typing Rules (judgemental equality + Adams' proof)</A>

<HR>
<H3>Calculus of Constructions with Universes</H3>
<LI><A HREF="TermECC.html">Terms</A>
<LI><A HREF="ConvECC.html">Conversion</A>
<LI><A HREF="EnvECC.html">Environments</A>
<LI><A HREF="TypeECC.html">Typing Rules</A>
<LI><A HREF="TypeJudgeECC.html">Typing Rules (judgemental equality)</A>

<HR>

<H3>Models of the Calculus of Constructions (pure and with universes)</H3>
<LI><A HREF="Models.html">Abstract Models of CC and CC&omega;</A>
<LI><A HREF="GenModel.html">Soundness of Abstract Models of CC</A>
<LI><A HREF="GenModelSyntax.html">Mapping CC Syntax to the Abstract Model of CC</A>
<LI><A HREF="ModelHF.html">Instantiation of the Abstract Model of CC in HF</A>
<LI><A HREF="ModelZF.html">Instantiation of the Abstract Model of CC in IZF</A>
<LI><A HREF="ModelECC.html">Soundness of Abstract Models of CC&omega;</A>


<LI><A HREF="ModelCIC.html">Model of CC with Natural Numbers
    (with type-based termination for fixpoints)</A>


<LI><A HREF="Lambda.html">Pure Lambda Terms</A>
<LI><A HREF="Can.html">Reducibility Candidates and Operations</A>
<LI><A HREF="Sat.html">Generic Interface of Saturated Sets</A>
<LI><A HREF="GenModelSN.html">Soundness of Abstract Strong
    Normalization Models of CC</A>
<LI><A HREF="SN_CC.html">Another Proof of Strong Normalization for the
    Calculus of Constructions</A>


<HR>

<H3>General Purpose Libraries</H3>

<LI><A HREF="basic.html">Useful definitions</A>
<LI><A HREF="VarMap.html">Maps</A>


<HR>

</UL>
<A href="coqindex.html">Table of contents of Coq objects</A>

<HR>

<A HREF=../../index.html><IMG SRC="../../icones_coq/action_top.gif"></A>

